.fill-travel {
    background: $travel;
}
.fill-food {
    background: $food;
}
.fill-supermarket {
    background: $supermarket;
}
.fill-recharge {
    background: $recharge;
}
.fill-books {
    background: $books;
}
.fill-entertainment {
    background: $entertainment;
}
.fill-health {
    background: $health;
}
.fill-sports {
    background: $sports;
}
.fill-gadgets {
    background: $gadgets;
}
.fill-family {
    background: $family;
}
.fill-web {
    background: $web;
}
.fill-conferences {
    background: $conferences;
}
