$food: #FFEB3B;
$travel: #64DD17;
$supermarket: #FF9800;
$recharge: #607D8B;
$entertainment: #F44336;
$books: #3F51B5;
$sports: #CDDC39;
$health: #E91E63;
$family: #009688;
$gadgets: #00BCD4;
$web: #2196F3;
$conferences: #795548;

