@import "compass";
$primary: #FF616E;
* {
	box-sizing: border-box;
}
body {
	background: #FFFFFF;
}
.navbar-default{
	background-color: $primary;
	border-color: $primary;
}
.well {
	background-color: #BCCFE0;
}