<!DOCTYPE html>

<html ng-app="expenseApp">
<head>
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/bower_components/bootstrap-datepicker/css/datepicker.css" />
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/app/assets/css/app.css">
</head>

<body ng-controller="mainController">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Expense App</a>
			</div>
		</div>
	</nav>
	<div class="container-fluid">

		<!-- <div class="text-center">
			<h3>Your Expenses <span class="label label-info">{{ expenses.length }}</span></h3>
		</div> -->

		<div id="expense-form" class="row-fluid">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree">
						<h4 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<span class="glyphicon glyphicon-plus"></span> Add new expense
							</a>
						</h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
						<div class="panel-body">
        					<form class="form" role="form">
								<div class="form-group">
									<label class="sr-only" for="category">Category</label>
									<!-- <input  type="text" class="form-control"  placeholder="Category"> -->
									<select id="category" class="form-control" ng-model="formData.category">
										<option>Food</option>
										<option>Travel</option>
										<option>Recharge</option>
										<option>Books</option>
										<option>Electronics</option>
										<option>Supermarket</option>
										<option>Entertainment</option>
										<option>Others</option>
									</select>
								</div>
								<div class="form-group">
									<label class="sr-only" for="amount">Amount</label>
									<input id="amount" type="text" class="form-control" ng-model="formData.amount" placeholder="Amount">
								</div>
								<div class="form-group">
									<label class="sr-only" for="date">Date</label>
									<input id="date" type="datetime" class="form-control" ng-model="formData.date" placeholder="Date">
								</div>
								<div class="form-group">
									<label class="sr-only" for="">Remark</label>
									<input id="remark" type="text" class="form-control" ng-model="formData.remark" placeholder="Remarks">
								</div>
								<button type="submit" class="btn btn-success" ng-click="createExpense()">Add to expenses</button>
							</form>
						</div>
					</div>
				</div>
			</div>	
		</div>
		<hr>
		<h3><div class="label label-warning">Total: Rs. {{ getTotalExpense() }}</div></h3>
		<div id="expenses-list" class="row-fluid">
				<table class="table">
					<tbody ng-repeat="expense in expenses">
						<tr>
							<td>{{ expense.category }}</td>
							<td>{{ expense.amount }}</td>
							<td>{{ expense.date }}</td>
							<td>{{ expense.remark }}</td>
							<td><button type="submit" ng-click="deleteExpense(expense._id)" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button></td>
						</tr>
					</tbody>
				</table>
		</div>
	</div>
	<script type="text/javascript" src="/bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script>
		$('#date').datepicker();
	</script>
	<script>
		var expenseApp = angular.module('expenseApp', []);
		var domain = '//localhost:3000';

		function mainController($scope, $http) {
			$scope.formData = {};

			// on load
			$http.get(domain + '/api/expenses')
				.success(function(data) {
					$scope.expenses = data;
					console.log(data);
				})
				.error(function(data) {
					console.log('Error: ' + data);
				});

			$scope.getTotalExpense = function() {
				var total = 0;
				for (i = 0; i < $scope.expenses.length; i++) {
					total += $scope.expenses[i].amount;
				}
				return total;
			}
			// add
			$scope.createExpense = function() {
				$http.post(domain + '/api/expenses', $scope.formData)
					.success(function(data) {
						$scope.formData = {};
						$scope.expenses = data;
						console.log(data);
					})
					.error(function(data) {
						console.log('Error: ' + data);
					});
			};
			// delete
			$scope.deleteExpense = function(id) {
				$http.delete(domain + '/api/expenses/' + id)
					.success(function(data) {
						$scope.expenses = data;
						console.log(data);
					})
					.error(function(data) {
						console.log('Error: ' + data);
					});
			};
			// update
			$scope.updateExpense = function(id) {
				$http.put(domain + '/api/expenses/' + id, $scope.formData)
					.success(function(data) {
						$scope.formData = {};
						$scope.expenses = data;
						console.log(data);
					})
					.error(function(data) {
						console.log('Error: ' + data);
					});
			};
		}
	</script>
</body>
</html>